body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:fixed;
  left:50%;
  margin-left:-377px;
  top:50%;
  margin-top:-55.5px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:754px;
  height:111px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u1 {
  position:absolute;
  left:276px;
  top:0px;
  width:172px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:51px;
}
#u4 {
  position:absolute;
  left:0px;
  top:60px;
  width:753px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6 {
  position:absolute;
  left:711px;
  top:75px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:fixed;
  left:50%;
  margin-left:-372.5px;
  bottom:0px;
  width:745px;
  height:87px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:88px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:87px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:14px;
  width:744px;
  word-wrap:break-word;
}
