body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1076px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u717 {
  position:absolute;
  left:599px;
  top:145px;
  width:172px;
  height:50px;
}
#u718 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:51px;
}
#u720 {
  position:absolute;
  left:323px;
  top:205px;
  width:753px;
  height:50px;
}
#u721 {
  position:absolute;
  left:2px;
  top:17px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u722 {
  position:absolute;
  left:1034px;
  top:220px;
  width:20px;
  height:20px;
}
#u723 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724 {
  position:fixed;
  left:50%;
  margin-left:-372.5px;
  bottom:0px;
  width:745px;
  height:87px;
  overflow:hidden;
}
#u724_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:87px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u724_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:88px;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:87px;
  text-align:center;
}
#u726 {
  position:absolute;
  left:0px;
  top:14px;
  width:744px;
  word-wrap:break-word;
}
